header {
    nav {
        background-color: $color-principal;
        div {
            a {
                img {
                    width: 100px;
                    height: auto;
                    border-radius: 10%;
                }
            }
        }
    }
}