header {
    nav {
        background-color: rgb(255, 164, 61);
        div {
            a {
                img {
                    width: 100px;
                    height: auto;
                    border-radius: 10%;
                }
            }
        }
    }
}